.ms-new-agents-page{
  #description-page{
    position: relative;
    width: 100%;
    .ms-wrapper-section{
      width: 90%;
      max-width: 1520px;
      padding: 20px 0;
      margin: 0 auto;
      *{
        font-size: 15px;
        line-height: 1.6;
      }
      p,ul,ol,li{
        margin: 15px 0;
      }
      a{
        color: #0259A9;
        text-decoration: underline;
      }

      p:first-child{
        margin-top: 0;
      }
    }
  }
}